<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <script>
        function agregarAlKart(idProducto) {
            console.log("agrgando elemento al carro", idProducto)

            const form = document.getElementById('form-' + idProducto);
            if (form) {
                form.submit();
            } else {
                console.error('Formulario no encontrado para el producto con ID ' + productId);
            }
        }
    </script>
</head>
<body>
<nav id="navbar">
    <a href="#" class="brand">
        <span><img id="cambio" src="/img/logoTailor.png" width="140px" height="50px" class="logo"
                   alt="Logo Tailor"></span>
        <span><img src="/img/logoTailor.png" width="140px" height="50px" class="logo" alt="Logo Tailor"></span>
    </a>
    <ul>
        <li style="--i:0;">
            <a class="active" href="/index">
                <span>Inicio</span>
                <span><i class="fas fa-home"></i></span>
            </a>
        </li>
        <li style="--i:1;">
            <a href="/tienda">
                <span>Tienda</span>
                <span><i class="fas fa-store"></i></span>
            </a>
        </li>
        <li style="--i:2;">
            <a href="/agendamiento">
                <span>Agenda tu cita</span>
                <span><i class="fas fa-photo-video"></i></span>
            </a>
        </li>
        <li style="--i:3;">
            <a href="/about">
                <span>Nosotros</span>
                <span><i class="fas fa-user-friends"></i></span>
            </a>
        </li>
        <li style="--i:4;">
            <a href="/contact">
                <span>Contactanos</span>
                <span><i class="fas fa-envelope"></i></span>
            </a>
        </li>
        <li style="--i:4;">
            <a href="/kart">
                <span><i class="fas fa-shopping-cart"></i></span>
                <span><i class="fas fa-shopping-cart"></i></span>
            </a>
        </li>
        <ul>
            <li th:if="${usuarioLogueado}" style="--i:4;">
                <a th:href="@{/logout}">
                    <span th:text="${usuario.nombre}"></span>
                    <span><i class="fas fa-user-alt"></i></span>
                </a>
            </li>
            <li th:unless="${usuarioLogueado}" style="--i:4;">
                <a th:href="@{/login}">
                    <span><i class="far fa-user"></i></span>
                    <span><i class="fas fa-user-alt"></i></span>
                </a>
            </li>
        </ul>
    </ul>
</nav>

<section id="page-header">
    <h2>#EleganciaAmedida</h2>
    <p>Grandes ahorros con nuestras ofertas</p>
</section>

<section id="producto1" class="section-p1">
            <h1>Tienda</h1>
            <section class="section-p1">
                <h2>Productos de Ropa</h2>
                <div class="pro-container">
                    <div class="pro" th:each="productoRopa : ${productosRopa}">
                        <img th:if="${productoRopa.imagen != null}"
                             th:src="'data:image/jpeg;base64,' + ${productoRopa.imagenBase64}" alt="Imagen del Producto"
                             th:onclick="agregarAlKart([[${productoRopa.idProducto}]])">
                        <div class="des">
                            <h5 th:text="${productoRopa.nombre}">Nombre del producto</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <p th:text="${productoRopa.descripcion}">Descripción del producto</p>
                            <h4 th:text="'$' + ${productoRopa.precioUnidad}">Precio del producto</h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        <form th:id="'form-' + ${productoRopa.idProducto}" action="/kart/agregar" method="post"
                              style="display: none;">
                            <input type="hidden" name="idProducto" th:value="${productoRopa.idProducto}">
                            <input type="hidden" name="cantidad" value="1">
                            <input type="hidden" name="idTipo" th:value="${productoRopa.idTipo}">
                        </form>
                    </div>
                </div>
            </section>

            <section class="section-p1">
                <h2>Productos de Aseo Personal</h2>
                <div class="pro-container">
                    <div class="pro" th:each="productoAseo : ${productosAseo}">
                        <img th:if="${productoAseo.imagen != null}"
                             th:src="'data:image/jpeg;base64,' + ${productoAseo.imagenBase64}" alt="Imagen del Producto"
                             th:onclick="agregarAlKart([[${productoAseo.idProducto}]])">
                        <div class="des">
                            <h5 th:text="${productoAseo.nombre}">Nombre del producto</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <p th:text="${productoAseo.descripcion}">Descripción del producto</p>
                            <h4 th:text="'$' + ${productoAseo.precioUnidad}">Precio del producto</h4>
                        </div>
                        <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        <form th:id="'form-' + ${productoAseo.idProducto}" action="/kart/agregar" method="post"
                              style="display: none;">
                            <input type="hidden" name="idProducto" th:value="${productoAseo.idProducto}">
                            <input type="hidden" name="cantidad" value="1">
                            <input type="hidden" name="idTipo" th:value="${productoAseo.idTipo}">
                        </form>
                    </div>
                </div>
            </section>


        </div>
    </section>
    
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
    </section>
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Mantente al tanto con las novedades</h4>
            <p>Recibe actualizaciones por correo electrónico sobre nuestra tienda más reciente y <span>ofertas especiales</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Correo electrónico">
            <button class="normal">Suscribete</button>
        </div>
    </section>
    

    <footer class="section-p1">
        <div class="col">
            <img src="img/logoTailor.png" class="logo" alt="">
            <h4>Contacto</h4>
            <p><strong>Dirección:</strong> Calle 66a #77-36 primer piso</p>
            <p><strong>Celular:</strong>(+57) 310 4927032</p>
            <p><strong>Horario:</strong> 10:00 - 20:00, Lun - Dom</p>
            <div class="follow">
                <h4>Siguenos</h4>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitch"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>Sobre nosotros</h4>
            <a href="#">Acerca de nosotros</a>
            <a href="#">Politicas de privacidad</a>
            <a href="#">Terminos y Condiciones</a>
            <a href="#">Contactanos</a>
            <a href="#">Como Comprar</a>
        </div>
        <div class="col">
            <h4>Mi Cuenta</h4>
            <a href="../Login y Registro/login.php">Iniciar Sesión</a>
            <a href="#">Ver carrito</a>
            <a href="#">Lista de deseos</a>
            <a href="../Agendamiento de citas/agendamiento.php">Agendar cita</a>
            <a href="../Garantias/garantias.php">Solicitar Garantia</a>
        </div>
<!-- cambiarlo -->
        <div class="col pay">
            <h4>Metodos de Pago Seguros</h4>
            <div class="row">
                <img src="img/pay/Nequi-o-Daviplata.png" alt="">
            </div>
            <img src="img/pay/pay.png" alt="">
        </div>
        <div class="copyright">
            <p>© 2023 Tailor.net. Todos los derechos reservados.</p>
        </div>
    </footer>

<script src="https://kit.fontawesome.com/95789fc486.js" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</body>
</html>
